.kids p {
    margin-bottom: 50px;
  }
  .kids {
      margin-top: 70px;
      display: flex;
      flex-direction: column;
    
      padding: 50px 80px;
      padding-top: 90px;
      border-top: 1px dotted #9e9b9bb6;
    }